@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-pause.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-button.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-forwards.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/play-backwards.css');

*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}
audio{
    display: none;
}
.waveform-container {
    border-radius:0px 5px 5px 0px;
    padding: 1px;
    background-color: rgb(240, 240, 240);
    position: relative;
    height: 58px; 
    width: 77%;
}
.waveform-progress {
    position: absolute; 
    bottom: 0; 
    left: 0;
    height: 100%;
    width: 0;
    background-color:rgba(255, 228, 196, 0.623);
}
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 25px;
    height: 545px;
    background-color: rgba(0, 0, 0, 0.158);
    justify-content: space-evenly;
}
.audio-item {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    height: 55px;
    justify-content: center;
}
.volume-control-input{
    width: 90%;
}
.vol-control {
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
#play-all {
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    background-color: transparent;
}
.controls-player {
    width: 100vw;
    height: 100px;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.voltar{
    text-decoration: none;
    color: black;
    font-size: x-large;
    display: block;
    padding: 10px;
    width: 100px;
    font-weight: 400;
}
header{
    width: 100vw;
    height: 60px;
}

.mute-button{
    position: absolute;
    top: 13px;
    left: 15px;
    width: 25px;
    background-color: black;
    color: #fff;
    border: 2px solid black;
}

.solo-button{
    top: 13px;
    position: absolute;
    left: 42px;
    width: 25px;
    background-color: black;
    color: #fff;
    border: 2px solid black;
}
.progress-time {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#progress-control{
    width: 300px;
}

.gg-play-pause {
    box-sizing: border-box;
    display: block;
    transform: scale(var(--ggs,2));
    width: 8px;
    height: 10px;
    border-left: 3px solid;
    border-right: 3px solid
    } 

.control-midia-player {
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 10px;
}


.gg-play-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 22px;
    height: 22px
}
    
.gg-play-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 6px;
    left: 9px
} 

.gg-play-forwards {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 3px;
    height: 10px;
    background: currentColor
}
    
.gg-play-forwards::after,
.gg-play-forwards::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    left: -7px
}
    
.gg-play-forwards::before {
    left: -14px
} 

.gg-play-backwards {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,2));
    width: 3px;
    height: 10px;
    background: currentColor
}
    
.gg-play-backwards::after,
.gg-play-backwards::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 6px solid;
    right: -7px
}
    
.gg-play-backwards::before {
    right: -14px
} 

#forward{
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    background-color: transparent;
}

#rewind{
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    background-color: transparent;
}