<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivos de Áudio Separados</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <a class="voltar" href="{{ url_for('index') }}"><div class="voltar">&lt; LOGO</div></a>
    </header>
    <main>
        {% for filename in filenames %}
        <div class="audio-item">
            <div class="waveform-container" id="waveform-{{ filename }}">
                <div class="waveform-progress"></div>
            </div>
            <audio class="audio-element" id="{{ filename }}" controls>
                <source src="{{ url_for('static', filename='separated/' + filename + '.wav') }}" type="audio/wav">
            </audio>
            <li type="none" class="vol-control">
                <button class="mute-button">M</button>
                <button class="solo-button">S</button>
                <strong>{{ filename }}</strong><br>
                <input type="range" class="volume-control-input" min="0" max="1" step="0.01" value="1">
            </li>
        </div>
        {% endfor %}
    </main>
    
    <div class="controls-player">
        <div class="control-midia-player">
            <button id="rewind"><i class="gg-play-backwards"></i></button>
            <button id="play-all"><i class="gg-play-button"></i>
            </button>
            <button id="forward"><i class="gg-play-forwards"></i></button>
        </div>
        <div class="progress-time">
            <div class="tempo-atual">0:00</div>
            <input type="range" id="progress-control" min="0" max="100" step="1" value="0">
            <div class="tempo-total"></div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='node_modules/wavesurfer.js/dist/wavesurfer.min.js') }}"></script>
    <script>
        var tocando = false;
        var audioElements = document.querySelectorAll('.audio-element');
        var soloButtons = document.querySelectorAll('.solo-button');
        var muteButtons = document.querySelectorAll('.mute-button');
        var soloedTracks = []; 

        document.getElementById('play-all').addEventListener('click', function() {
            if (!tocando) {
                audioElements.forEach(function(audio) {
                    audio.play();
                });
                tocando = true;
                document.querySelector('.gg-play-button').classList.add('gg-play-pause')
                document.querySelector('.gg-play-button').classList.remove('gg-play-button')
            } else {
                audioElements.forEach(function(audio) {
                    audio.pause();
                });
                tocando = false;
                document.querySelector('.gg-play-pause').classList.add('gg-play-button')
                document.querySelector('.gg-play-pause').classList.remove('gg-play-pause')
            }
        });

        document.getElementById('rewind').addEventListener('click', function() {
            audioElements.forEach(function(audio) {
                audio.currentTime -= 10; 
            });
        });

        document.getElementById('forward').addEventListener('click', function() {
            audioElements.forEach(function(audio) {
                audio.currentTime += 10; 
            });
        });

        muteButtons.forEach(function(button, index) {
            button.addEventListener('click', function() {
                var audio = audioElements[index];
                if (audio.muted) {
                    audio.muted = false;
                    button.textContent = 'M'; 
                    button.style.backgroundColor = "black"
                    button.style.color = "white"
                } else {
                    audio.muted = true;
                    button.style.backgroundColor = "white"
                    button.style.color = "black"
                }
            });
        });

        soloButtons.forEach(function(button, index) {
            button.addEventListener('click', function() {
                if (soloedTracks.includes(index)) {
                    soloedTracks.splice(soloedTracks.indexOf(index), 1);
                    button.style.backgroundColor = "black"
                    button.style.color = "white"
                } else {
                    soloedTracks.push(index);
                    button.style.backgroundColor = "white"
                    button.style.color = "black"
                }
                updateSoloTracks();
            });
        });

        function updateSoloTracks() {
            audioElements.forEach(function(audio, index) {
                if (soloedTracks.length === 0 || soloedTracks.includes(index)) {
                    audio.volume = 1; 
                } else {
                    audio.volume = 0; 
                }
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var inputsControleVolume = document.querySelectorAll('.volume-control-input');

            inputsControleVolume.forEach(function(inputVolume, index) {
                inputVolume.addEventListener('input', function() {
                    var audio = audioElements[index];
                    audio.volume = parseFloat(inputVolume.value);
                });
            });

            audioElements.forEach(function(elementoAudio, index) {
                var wavesurfer = WaveSurfer.create({
                    container: '#waveform-' + elementoAudio.id,
                    waveColor: 'black',
                    progressColor: 'black',
                    responsive: true,
                    barHeight: 0.5,
                    cursorWidth: 0,
                    height: 50
                });

                wavesurfer.load(elementoAudio.querySelector('source').getAttribute('src')); 
            });
        });
        var audioElements = document.querySelectorAll('.audio-element');
        var progressControl = document.getElementById('progress-control');

        function syncRange() {
            var maxDuration = 0;
            var currentTime = 0;

            audioElements.forEach(function(audio) {
                if (audio.duration > maxDuration) {
                    maxDuration = audio.duration;
                }
                if (!audio.paused) {
                    currentTime = audio.currentTime;
                }
            });

            progressControl.max = maxDuration;
            progressControl.value = currentTime;

            setTimeout(syncRange, 100);
        }

        syncRange();

        function syncAudios() {
            var progress = progressControl.value;
            audioElements.forEach(function(audio) {
                audio.currentTime = progress;
            });
        }
        
        progressControl.addEventListener('input', syncAudios);

        document.addEventListener('DOMContentLoaded', function () {
            var audioElement = document.querySelector('.audio-element'); 

            audioElement.addEventListener('loadedmetadata', function() {
                var tempoTotal = formatarTempo(audioElement.duration);
                document.querySelector('.tempo-total').textContent = tempoTotal;
            });

            function formatarTempo(segundos) {
                var minutos = Math.floor(segundos / 60);
                var segundosRestantes = Math.floor(segundos % 60);
                return minutos + ':' + (segundosRestantes < 10 ? '0' : '') + segundosRestantes;
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            var audioElement = document.querySelector('.audio-element'); 

            audioElement.addEventListener('loadedmetadata', function() {
                var tempoTotal = formatarTempo(audioElement.duration);
                document.querySelector('.tempo-total').textContent = tempoTotal;
            });

            audioElement.addEventListener('timeupdate', function() {
                var tempoAtual = formatarTempo(audioElement.currentTime);
                document.querySelector('.tempo-atual').textContent = tempoAtual;
            });

            function formatarTempo(segundos) {
                var minutos = Math.floor(segundos / 60);
                var segundosRestantes = Math.floor(segundos % 60);
                return minutos + ':' + (segundosRestantes < 10 ? '0' : '') + segundosRestantes;
            }
        });
    </script>
</body>
</html>