<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>soundtouch.js teste</title>
  <style>
    button, input {
      display: block;
    }
  </style>
</head>
<body>
  <button id="playAllButton">Play All</button>
  <button id="pauseAllButton">Pause All</button>
  Tempo: <input type="range" autofocus="true" min="0.0" max="2.0" name="tempoSlider" defaultValue="1" id="tempoSlider" step="0.05">
  Pitch: <input type="range" autofocus="true" min="0.0" max="2.0" name="pitchSlider" defaultValue="1" id="pitchSlider" step="0.05"><br>
  Volume Piano: <input type="range" min="0" max="1" step="0.1" value="1" id="volumePianoSlider"><br>
  Volume Vocals: <input type="range" min="0" max="1" step="0.1" value="1" id="volumeVocalsSlider"><br>
  Volume Drums: <input type="range" min="0" max="1" step="0.1" value="1" id="volumeDrumsSlider"><br>
  Volume Bass: <input type="range" min="0" max="1" step="0.1" value="1" id="volumeBassSlider"><br>
  Volume Guitar: <input type="range" min="0" max="1" step="0.1" value="1" id="volumeGuitarSlider"><br>
  Volume Other: <input type="range" min="0" max="1" step="0.1" value="1" id="volumeOtherSlider"><br>
</body>
<script type="module">
  
  import PitchShifter from '../static/src/index.js'

  const context = new (window.AudioContext || window.webkitAudioContext)();
  let pitchshifters = [];
  const audioUrls = ['../static/piano.wav', '../static/vocals.wav', '../static/drums.wav', '../static/bass.wav', '../static/guitar.wav', '../static/other.wav'];
  const buffers = [];
  let audioStarted = false;

  async function preloadAudio() {
    for (const url of audioUrls) {
      try {
        const buffer = await loadAudio(url);
        buffers.push(buffer);
      } catch (error) {
        console.error('Erro ao carregar áudio:', error);
      }
    }
  }

  function loadAudio(url) {
    return new Promise((resolve, reject) => {
      const xhr = new XMLHttpRequest();
      xhr.open('GET', url, true);
      xhr.responseType = 'arraybuffer';
      xhr.onload = () => {
        context.decodeAudioData(xhr.response, resolve, reject);
      };
      xhr.onerror = reject;
      xhr.send();
    });
  }

  async function initializePitchShifters() {
    for (const buffer of buffers) {
      try {
        const pitchshifter = new PitchShifter(context, buffer, 1024);
        pitchshifter.volumeNode = context.createGain(); 
        pitchshifter.connect(pitchshifter.volumeNode); 
        pitchshifter.volumeNode.connect(context.destination);
        pitchshifters.push(pitchshifter);
      } catch (error) {
        console.error('Error creating PitchShifter:', error);
      }
    }
  }

  function updatePitchShifters() {
    const tempo = parseFloat(document.getElementById('tempoSlider').value);
    const pitch = parseFloat(document.getElementById('pitchSlider').value);

    for (const pitchshifter of pitchshifters) {
      pitchshifter.tempo = tempo;
      pitchshifter.pitch = pitch;
    }
  }

  function updateVolume(index, volume) {
    pitchshifters[index].volumeNode.gain.value = volume;
  }

  function playAll() {
    if (!audioStarted) { 
      const startTime = context.currentTime + 0.1; 
      for (const pitchshifter of pitchshifters) {
        const source = context.createBufferSource();
        source.buffer = pitchshifter.buffer;
        source.connect(pitchshifter);
        source.start(startTime);
      }
      audioStarted = true;
    }
  }

  function pauseAll() {
    const currentTime = context.currentTime;
    for (const pitchshifter of pitchshifters) {
      pitchshifter.stop(currentTime);
    }
    audioStarted = false; 
  }

  document.addEventListener('DOMContentLoaded', async () => {
    await preloadAudio();
    await initializePitchShifters();

    document.getElementById('playAllButton').addEventListener('click', playAll);
    document.getElementById('pauseAllButton').addEventListener('click', pauseAll);

    document.getElementById('tempoSlider').addEventListener('input', updatePitchShifters);
    document.getElementById('pitchSlider').addEventListener('input', updatePitchShifters);

    document.getElementById('volumePianoSlider').addEventListener('input', (event) => {
      updateVolume(0, parseFloat(event.target.value));
    });
    document.getElementById('volumeVocalsSlider').addEventListener('input', (event) => {
      updateVolume(1, parseFloat(event.target.value));
    });
    document.getElementById('volumeDrumsSlider').addEventListener('input', (event) => {
      updateVolume(2, parseFloat(event.target.value));
    });
    document.getElementById('volumeBassSlider').addEventListener('input', (event) => {
      updateVolume(3, parseFloat(event.target.value));
    });
    document.getElementById('volumeGuitarSlider').addEventListener('input', (event) => {
      updateVolume(4, parseFloat(event.target.value));
    });
    document.getElementById('volumeOtherSlider').addEventListener('input', (event) => {
      updateVolume(5, parseFloat(event.target.value));
    });
  });
</script>
</html>
