@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        
/* Configuração de estilos básicos */
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    transition: .1s;
}
body {
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
main {
    transform: scale(1.3);
    width: fit-content;
    height: 400px;
    margin: auto;
}

/* Estilos do menu de seleção */

.tab-menu ul{
    cursor: pointer;
    display: flex;
}

.tab-menu-item {
    padding: 15px 100px;
    color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: .2s;
}
.tab-menu-item.active {
    color: #C3A364;
    border-bottom: 1px solid #C3A364;
}

/* Estilos da área de upload */
.upload-section {
    display: block;
}
#file-dropzone {
    margin-top: 20px;
    color: #C3A364;
    padding: 20px;
    background-color: #151515;
    border-radius: 18px;
    border: 2px dashed #c3a36454;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#file-dropzone > p {
    padding: 10px 0px 25px 0px;
}

#file-dropzone > pre{
    transform: translate(0px, -15px);
    font-size: x-small;
    width: min-content;
    height: 12px;
    overflow: hidden;
}

#file-dropzone .input-wrapper {
    padding: 10px 0px 30px 0px;
}
#file-dropzone .file-button {
    background-color: #1a1a1a;
    padding: 12px 10px;
    border-radius: 12px;
    cursor: pointer;
}
#file-dropzone .file-button:hover {
    background-color: #222222c7;
}
.file-support-info {
    margin: 18px 0px 0px 10px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
}

/* Estilos de opções avançadas */
.advanced-options {
    display: flex;
    flex-direction: row;
    color: #C3A364;
    justify-content: space-between;
    padding: 15px 12px;
}

.flex-direction{
    display: flex;
    flex-direction: column;
}

.options-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1a1a1a;
    width: 180px;
    padding: 6px 26px 6px 12px;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 15px;
}
.options-toggle:hover {
    background-color: #222222c7;
}
.options-toggle .arrow-icon {
    color: #C3A364;
    padding-right: 10px;
    rotate: -90deg;
    transform: translate(5px, -3px);
}
.options-toggle.active .arrow-icon {
    rotate: 0deg;
    transform: translate(0px, 0px);
}
#model-select {
    margin: 10px 0px;
    color: #C3A364;
    background-color: #121212;
    border: 1px solid #C3A364;
    padding: 8px 2px;
    border-radius: 6px;
}
.advanced-options-content {
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, -10px);
    margin: 10px 0px 0px 25px;
}
.advanced-options-content.active {
    opacity: 1;
    display: block;
    visibility: visible;
    transform: translate(0px);
}

/* Estilos do campo de URL */
.url-section {
    display: none;
}
#url-input-container {
    margin-top: 20px;
    color: #C3A364;
    padding: 35px 0px;
    background-color: #151515;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-flex {
    width: 85%;
    display: flex;
    flex-direction: column;
}
.url-input {
    width: calc(100% - 20px);
    background-color: transparent;
    border: 2px solid #343434;
    border-radius: 2px;
    height: 28px;
    font-size: 16px;
    padding-left: 10px;
    color: white;
}

/* Estilos do botão de envio */
.submit-button {
    background-color: #1a1a1a;
    border-radius: 12px;
    cursor: pointer;
    padding: 10px 15px;
    text-transform: uppercase;
    height: min-content;
}
.submit-button:hover {
    background-color: #222222c7;
}